$web-blue: #0290ff;
$secondary-web-blue: #4386bf;
$web-gray: #121212;
$main-bg-color:#fafafa;
$border-color:#e8e8e8;



@mixin flex-pos($direction, $justify) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: center;
}

